/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 avr. 2019, 17:03:11
    Author     : achelle
*/

body{
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
  min-height: 100vh;
}

.login{
    max-width: 400px;
    box-shadow: 0 0 5px 2px var(--primary);
}